# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [3]:
#opening the naukri.com page on automated chrome browser

driver.get("https://www.naukri.com/")

In [4]:
#entering designation and location as required in the question(using class name)

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [9]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [10]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [11]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [12]:
print(len(job_title),len(job_location),len(experience_required),len(company_name))

10 10 10 10

In [13]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'experience':experience_required,'Company Name':company_name})
df

,Title,Location,experience,Company Name
0,Banking Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, G...",5-10 Yrs,Coforge
1,Data Analyst,Bangalore/Bengaluru,1-3 Yrs,Dpdzero
2,Data Analyst Iii,Bangalore/Bengaluru,3-7 Yrs,Walmart
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",0-2 Yrs,Aston Carter
4,Urgent Opening For Data Analyst | MNC | Bangal...,Bangalore/Bengaluru,4-9 Yrs,Yellow Box Hr Services
5,Urgent Hiring For Data Analyst For MNC - Banga...,Bangalore/Bengaluru,3-8 Yrs,Yellow Box Hr Services
6,Data Analyst RCM,"Bangalore/Bengaluru, Kochi/Cochin, Hyderabad/S...",3-6 Yrs,L A Consultancy
7,AR Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, C...",1-5 Yrs,Hireworks Recruitment Consultants
8,Data Analyst,"Bangalore/Bengaluru, Kochi/Cochin, Hyderabad/S...",3-7 Yrs,L A Consultancy
9,Data Analyst,Bangalore/Bengaluru,1-2 Yrs,Myntra

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [36]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [37]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [38]:
#opening the naukri.com page on automated chrome browser

driver.get("https://www.naukri.com/")

In [39]:
#entering designation and location as required in the question(using class name)

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [40]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [41]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [42]:
job_title=[]
job_location=[]
company_name=[]

In [43]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [44]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [45]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [46]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [47]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
4,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
5,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
6,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
7,Analytics Senior Analyst - Artificial Intellig...,Bangalore/Bengaluru,Accenture
8,Analytics Analyst - Artificial Intelligence In...,Bangalore/Bengaluru,Accenture
9,Research Specialist,Bangalore/Bengaluru,Accenture

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below You have to use the location and salary filter.You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [3]:
#opening the naukri.com page on automated chrome browser

driver.get("https://www.naukri.com/")

In [4]:
#entering designation and location as required in the question(using class name)

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
#class="ellipsis fleft filterLabel"

In [6]:
#The location filter to be used is “Delhi/NCR”.

search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
search.click()

In [7]:
# The salary filter to be used is “3-6” lakhs
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'experience':experience_required})
df

,Title,Location,Company Name,experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
5,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
6,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
7,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs
8,Assistant Manager - Data Scientist,Gurgaon/Gurugram,Fidelity International,5-7 Yrs
9,Data Science Instructor ( Full Time ),Noida,Dataisgood Edutech Pvt Ltd,1-3 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [1]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [3]:

driver.get("https://www.flipkart.com/")

In [4]:
material=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
material.send_keys('Sunglass')

In [5]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [11]:
Brand_name=[]
product_desc=[]
price=[]

In [23]:
start=0
end=2
for page in range(start,end):
    b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b:
        Brand_name.append(i.text)
    o=Brand_name[:100]
    o

In [21]:
start=0
end=2
for page in range(start,end):
    pro=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro:
        product_desc.append(i.text)
        v=product_desc[:100]
        v

In [19]:
start=0
end=2
for page in range(start,end):
    pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pri:
        price.append(i.text)
        s=price[:100]
        s

In [24]:
print(len(o),len(v),len(s))

100 100 100

In [25]:
import pandas as pd
df=pd.DataFrame({'Brand':o,'Product Description':v,'price':s})
df

            Brand                                Product Description price
0   VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹849
1   VINCENT CHASE             UV Protection Wayfarer Sunglasses (59)  ₹509
2       Elligator             UV Protection Wayfarer Sunglasses (53)  ₹109
3       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹149
4       Elligator    UV Protection Aviator, Wayfarer Sunglasses (55)  ₹149
..            ...                                                ...   ...
95  VINCENT CHASE              UV Protection Aviator Sunglasses (58)  ₹849
96         PIRASO      UV Protection Wayfarer Sunglasses (Free Size)  ₹268
97          NuVew  by Lenskart Polarized, UV Protection Cat-eye S...  ₹115
98          NuVew               UV Protection Sports Sunglasses (65)   ₹99
99  VINCENT CHASE      UV Protection Wayfarer Sunglasses (Free Size)  ₹789

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market 
place=FLIPKART

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.

In [112]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [113]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [114]:


driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=3536712b-b3c2-413d-8ca4-c8ae530a3bba.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=gfgoz95k2o0000001683466268699&qH=d6db477051465f9a")

In [117]:
search=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
search.click()

In [118]:
rating=[] 
start =0
end=10
for page in range (start,end):
    titles=driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in titles:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
rating=rating[0:100]

In [119]:
Review_summary=[] 
start =0
end=10
for page in range (start,end):
    titles=driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in titles:
        Review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
Review_summary=Review_summary[0:100]
Review_summary

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Pretty good',
 'Perfect product!',
 'Highly recommended',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Perfect product!',
 'Highly recommended',
 'Highly recommended',
 'Value-for-money',
 'Perfect product!']

In [120]:
Full_review=[] 
start =0
end=10
for page in range (start,end):
    titles=driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in titles:
        Full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
Full_review=Full_review[0:100]
Full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 "Just got this iphone 11\nAnd it is most powerful mobile phone I have used ever\n\nSo,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip\n\nThat's my review about this phone but yours can be differ from me....",
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",

In [121]:
df=pd.DataFrame({"Rating":rating,"Review summary":Review_summary,"Fullb review":Full_review})
df

,Rating,Review summary,Fullb review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Highly recommended,"Amazing camera quality as expected, battery al..."
98,4,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
99,5,Perfect product!,It is just awesome mobile for this price from ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [27]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [28]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [29]:

driver.get("https://www.flipkart.com/")

In [30]:
#entering designation and location as required in the question

material=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
material.send_keys('Sneakers')

In [33]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [36]:
Brand_name=[]
product_desc=[]
price=[]

In [49]:
start=0
end=1
for page in range(start,end):
    b=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in b:
        Brand_name.append(i.text)
    o=Brand_name[:100]
    o

In [51]:
start=0
end=1
for page in range(start,end):
    pro=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in pro:
        product_desc.append(i.text)
        v=product_desc[:100]
        v

In [53]:
start=0
end=1
for page in range(start,end):
    pri=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pri:
        price.append(i.text)
        s=price[:100]
        s

In [54]:
print(len(o),len(v),len(s))

100 100 100

In [55]:
import pandas as pd
df=pd.DataFrame({'Brand':o,'Product Description':v,'price':s})
df

           Brand                                Product Description price
0   K- FOOTLANCE  Casual Sneakers White Outdoor Shoes For Boys A...  ₹499
1       RapidBox                                   Sneakers For Men  ₹579
2         Layasa  Casual Sneakers White Shoes For Girls And Snea...  ₹449
3           aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ₹299
4          BIRDE      Combo Pack Of 2 Casual Shoes Sneakers For Men  ₹499
..           ...                                                ...   ...
95        Labbin                              Fine Sneakers For Men  ₹379
96          aadi  Bersache Casual Walking Gym Training outdoor s...  ₹499
97         BIRDE  Modern Trendy Sneakers boot Sneakers Sneakers ...  ₹499
98          aadi  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹299
99        BRUTON  Men's W-05 Casual White Sneaker Shoes With Wat...  ₹249

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [95]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [96]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [97]:


driver.get("https://www.amazon.in/")

In [98]:
material=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
material.send_keys('Laptop')

In [99]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [101]:
n=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[9]/li/span/a/span")
n.click()

In [104]:
title=[]
Rating=[]
price=[]

In [105]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title_1=i.text
    title.append(title_1)

In [106]:
print(len(title))

10

In [107]:
rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span')
for i in rating_tags:
    Rating.append(i.get_attribute("aria-label"))
    rating=[]
    for i in range(0,len(Rating))[0:20]:
        if i==0 or i/2==i//2:
            rating.append(Rating[i][0:3])

In [108]:
print(len(rating))

10

In [109]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_1=i.text
    price.append(price_1)

In [110]:
print(len(price))

10

In [111]:
import pandas as pd
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating     Price
0  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...    4.4    94,989
1  Acer Predator Helios Neo 16 Gaming Laptop 13th...    3.7  1,29,990
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    4.0    98,990
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.1    88,990
4  Dell G15-5520 Gaming Laptop, i7-12650H, 16GB D...    4.3  1,23,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.0    79,990
6  MSI Modern 14, Intel 13th Gen. i7-1355U, 36CM ...    3.9    74,990
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    3.7    82,990
8  LG Gram16 Intel EVO-[12th Gen Core i7/Win11/16...    4.3    99,990
9  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...    5.0    79,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [33]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [34]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [35]:


driver.get("https://www.azquotes.com/")

In [36]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [55]:
Quote=[]
Author=[]
Type_of_Quote=[]

In [56]:
start=0
end=10
for page in range(start,end):
    t=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in t:
        Quote.append(i.text)
    n=Quote[0:1000]
    n

In [63]:
print(len(n))

1000

In [58]:
start=0
end=10
for page in range(start,end):
    p=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in p:
        Author.append(i.text)
    m=Author[0:1000]
    m

In [62]:
print(len(m))

1000

In [60]:
start=0
end=10
for page in range(start,end):
    q=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in q:
        Type_of_Quote.append(i.text)
    s=Type_of_Quote[0:1000]
    s

In [61]:
print(len(s))

1000

In [64]:
import pandas as pd
df=pd.DataFrame({'Quote':n,'Author':m,'Type of Quote':s})
df

,Quote,Author,Type of Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFram

In [82]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [83]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [84]:
driver.get("https://www.jagranjosh.com/")

In [85]:
gk=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a")
gk.click()

In [87]:
pm=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm.click()

In [88]:
table = driver.find_element(By.XPATH,"//div[@class='table-box']")
table

In [89]:
Aut=[]
# titles=driver.find_elements(By.XPATH,"//div[@class='author']")
 
# for i in titles:
#     Author.append(i.text)
        
            
# Author= Author[:10]
# Author



rows = table.find_elements(By.TAG_NAME,"tr")
for row in rows:
    cells = row.find_elements(By.TAG_NAME,"td")
    for cell in cells:
        Aut.append(cell.text)
        
Name=Aut[1:90:5]
Name

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [90]:
#Born-Dead
Born_Dead=Aut[2:90:5] 
Born_Dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [92]:
#Term of office
Term_of_office=Aut[3:90:5] 
Term_of_office

['15 August 1947 to 27 May 1964\n16 years, 286 days',
 '27 May 1964 to 9 June 1964,\n13 days',
 '9 June 1964 to 11 January 1966\n1 year, 216 days',
 '11 January 1966 to 24 January 1966\n13 days',
 '24 January 1966 to 24 March 1977\n11 years, 59 days',
 '24 March 1977 to  28 July 1979 \n2 year, 126 days',
 '28 July 1979 to 14 January 1980\n170 days',
 '14 January 1980 to 31 October 1984\n4 years, 291 days',
 '31 October 1984 to 2 December 1989\n5 years, 32 days',
 '2 December 1989 to 10 November 1990\n343 days',
 '10 November 1990 to 21 June 1991\n223 days',
 '21 June 1991 to 16 May 1996\n4 years, 330 days',
 '16 May 1996 to 1 June 1996\n16 days',
 '1 June 1996 to 21 April 1997\n324 days',
 '21 April 1997 to 19 March 1998 \n332 days',
 '19 March 1998 to 22 May 2004 \n6 years, 64 days',
 '22 May 2004 to 26 May 2014   \n10 years, 4 days',
 '26 May 2014 - Present']

In [93]:
#Remarks
Remarks=Aut[4:90:5] 
Remarks

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [94]:
df=pd.DataFrame({"Name":Name,"Born-Dead,":Born_Dead,"Term of office":Term_of_office,"Remarks":Remarks})
df

,Name,"Born-Dead,",Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [72]:
import selenium
import pandas as pd
from selenium import webdriver #webdriver- connect selenium to the web browser or chrome
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [73]:
#lets first connect to the driver

driver=webdriver.Chrome(r"C:\Users\TRISHA ROY\Downloads\chromedriver_win32.exe")

In [74]:
driver.get(" https://www.motor1.com/")

In [75]:
kras=driver.find_element(By.CLASS_NAME,"m1-hamburger-button")
kras.click()

In [76]:
fe=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/a")
fe.click()

In [77]:
url=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[4]/div[1]/div/div/div[5]/div/div[1]/h3/a")
url.click()

In [78]:
Name=[]


titles=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in titles:
    Name.append(i.text)
Name=Name[:50]
Name

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [79]:
price=[]


titles=driver.find_elements(By.TAG_NAME,"strong")
for i in titles:
    if len(i.text)>2:
        price.append(i.text)
len(price)

50

In [80]:
price

['Price: $1.3 Million',
 'Price: $1.4 Million',
 'Price: $1.4 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.7 Million',
 'Price: $1.8 Million',
 'Price: $1.9 Million',
 'Price: $1.9 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million',
 'Price: $2.0 Million*',
 'Price: $2.1 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.3 Million',
 'Price: $2.4 Million',
 'Price: $2.5 Million',
 'Price: $2.5 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.6 Million',
 'Price: $2.7 Million',
 'Price: $3.0 Million',
 '$3.0 Million',
 'Price: $3.0 Million',
 'Price: $3.2 Million',
 'Price: $3.4 Million',
 '$3.5 Million',
 'Price: $3.5 Million',
 'Price: $3.6 Million',
 'Price: $3.6 million',
 'Price: $3.7 Million',
 'Price: $3.9 Million',
 'Price: $4.5 Million',
 'Price: $4.7 Million',
 'Price: $5.0 Million',
 'Price: $5.4 Million',
 'Price: $5.8 Million',
 'Price: $6.4 Million',
 'Price: $7.4 Million',
 'Price: $8.0 Million',
 'Price: $9.0 Million',
 'Price: $10.8 Million',
 'Price: $12.8 Million',
 'Price: $13.4 Million',
 'Price: $28.0 Million (est.)']

In [81]:
df=pd.DataFrame({"Name":Name,"price,":price})
df.head(50)

                               Name                       price,
0                     De Tomaso P72          Price: $1.3 Million
1                 Ferrari LaFerrari          Price: $1.4 Million
2                     Pagani Huayra          Price: $1.4 Million
3                      McLaren Elva          Price: $1.7 Million
4                       Czinger 21C          Price: $1.7 Million
5                     Ferrari Monza          Price: $1.7 Million
6                Gordon Murray T.33          Price: $1.7 Million
7                 Koenigsegg Gemera          Price: $1.7 Million
8                       Zenvo TSR-S          Price: $1.7 Million
9                Hennessey Venom F5          Price: $1.8 Million
10                  Bentley Bacalar          Price: $1.9 Million
11    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12           Bentley Mulliner Batur          Price: $2.0 Million
13                     Deus Vayanne          Price: $2.0 Million
14                      SSC Tuatara         Price: $2.0 Million*
15                      Lotus Evija          Price: $2.1 Million
16              Aston Martin Vulcan          Price: $2.3 Million
17                       Delage D12          Price: $2.3 Million
18                McLaren Speedtail          Price: $2.3 Million
19                     Rimac Nevera          Price: $2.4 Million
20                    Pagani Utopia          Price: $2.5 Million
21             Pininfarina Battista          Price: $2.5 Million
22                Ferrari FXX K Evo          Price: $2.6 Million
23               Gordon Murray T.50          Price: $2.6 Million
24             Lamborghini Countach          Price: $2.6 Million
25         Mercedes-AMG Project One          Price: $2.7 Million
26              Aston Martin Victor          Price: $3.0 Million
27      Hennessey Venom F5 Roadster                 $3.0 Million
28                 Koenigsegg Jesko          Price: $3.0 Million
29            Aston Martin Valkyrie          Price: $3.2 Million
30        W Motors Lykan Hypersport          Price: $3.4 Million
31                    McLaren Solus                 $3.5 Million
32        Pagani Huayra Roadster BC          Price: $3.5 Million
33         Bugatti Chiron Pur Sport          Price: $3.6 Million
34                 Lamborghini Sian          Price: $3.6 million
35                 Koenigsegg CC850          Price: $3.7 Million
36  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
37               Lamborghini Veneno          Price: $4.5 Million
38                   Bugatti Bolide          Price: $4.7 Million
39                  Bugatti Mistral          Price: $5.0 Million
40              Pagani Huayra Imola          Price: $5.4 Million
41                     Bugatti Divo          Price: $5.8 Million
42              SP Automotive Chaos          Price: $6.4 Million
43                 Pagani Codalunga          Price: $7.4 Million
44         Mercedes-Maybach Exelero          Price: $8.0 Million
45               Bugatti Centodieci          Price: $9.0 Million
46          Bugatti Chiron Profilée         Price: $10.8 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)